@import "./normalize.css";

/* :root -->获取根元素的html */
:root {
   /* css里面定义的变量 */
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8189;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;

  /* css里面定义变量 */
  /* --large-size: 50px; */
  /* 使用变量 */
  /* font-size: var(--large-size); */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","MicrosoftYaHei",
"微软雅黑",Arial,sans-serif;
user-select: none;
/*-webkit 是苹果浏览器引擎
  tap 点击
  highlight 背景高亮
  color 颜色，颜色用数值调节*/
-webkit-tap-highlight-color: transparent;
color: var(--color-text);
width: 100vw;
}

a{
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left{
  float: left;
}

.right {
  float: right;
}
